<div ng-controller="GroupSettingsCtrl">
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="name">Group Id</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="groupId"
						th:value="${group.groupId}" disabled/>
				</div>
			</div>
	
			<div class="control-group">
				<label class="control-label" for="groupName">Group Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="changeGroupName"
						th:value="${group.name}" />
				</div>
			</div>
	
			<div class="form-actions">
				<input type="submit" class="btn btn-success" value="Save Details" id="submitGroupSettings" />
			</div>
		</fieldset>
	</form>
</div>