<div ng-controller="UsersCtrl">
<div class="row-fluid">
  <div class="page-header">
    <h1>Users <small>All users</small></h1>
  </div>
  <button class="btn btn-success" id = "add_new_user" data-toggle="modal" data-title="Add new user" data-target="#add-new-user-modal">
    <i class="icon-white icon-plus-sign"></i> Add new user</button>
  <br>
  <br>
  <form role="form">
    <label class="checkbox inline">
    <input type="checkbox" value="">Display all Admins
    </label>
    <label class="checkbox inline">
    <input type="checkbox" value="">Display all Publishers
    </label>
    <label class="checkbox inline">
    <input type="checkbox" value="">Display All Members
    </label>
    <label class="checkbox inline">
    <input type="checkbox" value="">Display All Users
    </label>
  </form>
  <table class="table table-striped table-bordered table-condensed"  id="usertable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Phone</th>
         <th>Role</th>
         <th>City</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       <tr class="list-users" th:each="organizationMembership, iterationStatus : ${organizationMemberships} ">
       <td th:text="${iterationStatus.count}">1</td>

        <td th:text="${organizationMembership.user.name}">OrganizationMembership user</td> 
        <td th:text="${organizationMembership.user.email}">OrganizationMembership user</td> 
         <td th:text="${organizationMembership.phone.phoneNumber}">OrganizationMembership number</td> 
         <td th:text="${organizationMembership.role}">OrganizationMembership number</td> 
      
      <td th:text="${organizationMembership.user.address}">OrganizationMembership address</td> 
        
        <td><span class="label label-success">Active</span></td>
        <td>
          <div class="btn-group">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
              <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
              <li><a href="#"><i class="icon-user"></i> Details</a></li>
              <li class="nav-header">Permissions</li>
              <li><a href="#"><i class="icon-lock"></i> Make <strong>Admin</strong></a></li>
              <li><a href="#"><i class="icon-lock"></i> Make <strong>Moderator</strong></a></li>
              <li><a href="#"><i class="icon-lock"></i> Make <strong>User</strong></a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ul>
      <li><a href="#">Prev</a></li>
      <li class="active">
        <a href="#">1</a>
      </li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
  </div>
</div>
<div class="modal fade" id="add-new-user-modal" tabindex="-1" role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i> </button>
      <h4 class="modal-title custom_align" id="HeadingUser">Add New User</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal"> 
		  <div class="control-group">
		    <label class="control-label" for="new-user-name-input">Name</label>
			<div class="controls">
			  <input type="text" class="input-xlarge" id="new-user-name-input" placeholder="George Clooney" />
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-user-phone-input">Phone</label>
			<div class="controls">
			  <input type="text" class="input-xlarge" id="new-user-phone-input" placeholder="9988776655"/>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-user-address-input">Address</label>
			<div class="controls">
			  <input type="text" class="input-xlarge" id="new-user-address-input" placeholder="A/78, Los Angeles"/>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-user-email-input">Email</label>
			<div class="controls">
			  <input type="text" class="input-xlarge" id="new-user-email-input" placeholder="george@clooney.com"/>
			</div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="new-user-role-input">Role</label>
			<div class="controls">
			  <select id="new-user-role-input">
                <option value="role-admin">Admin</option>
                <option value="role-publisher">Publisher</option>
                <option value="role-member">Member</option>
              </select>
            </div>
		  </div>
      </form>
    </div>
  </div>
  <div class="modal-footer ">
    <button type="button" class="btn btn-success" id="add-new-user" ><i class="icon-white icon-ok"></i> Add</button>
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button> 
  </div>
</div>
<!-- /.modal-content --> 
<!-- /.modal-dialog -->